body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


label {
  display: block;
}

.osv-guide-quotes .form-control {
  width: 100%;
}

.guide-price {
  color: #00625a;
  text-align: center;
}
.guide-price .guide-price-price{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.guide-price .guide-price-box {
  background-color: #EBEBEB;
  padding: 20px;
}
.guide-price .small {
  font-size: 11px;
}
.guide-price .btn, .request-guide-price .btn {
  text-transform: uppercase;
  border-radius: 0px;
  font-family: Roboto,Arial, sans-serif;
  font-weight: 400;
  background-color: #ff8a00;
  margin: 8px 16px 30px 0;
  color: #FFFFFF;
  width: 100%;
}


.garage-guide-quote {
  background-color: #F6F5F5;
  color: #00625a;
  padding: 20px
}

.garage-guide-quote-top {
  margin: 0 0 15px 10px;
}

.garage-guide-quote .glyphicon-remove {
  margin-right: 15px;
}


.request-guide-price input, .guide-price input {
  width: 100% !important;
}

.osv-login-button-wrapper {
  position: relative;
}
.osv-login-button-form {
  z-index: 10000000;
  background: #fff;
  padding: 40px;
  position: absolute;
  right: 0;
}
