body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


label {
  display: block;
}

.osv-guide-quotes .form-control {
  width: 100%;
}

.guide-price {
  color: #00625a;
  text-align: center;
}
.guide-price .guide-price-price{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.guide-price .guide-price-box h2 {
  margin-bottom: 15px;
}

.guide-price .guide-price-official-quote {
  font-size: 16px;
}

.guide-price-body {
  margin-bottom: 20px;
}

.guide-price .guide-price-box {
  background-color: #EBEBEB;
  padding: 20px;
}
.guide-price .small {
  font-size: 11px;
}
.guide-price .btn, .request-guide-price .btn {
  text-transform: uppercase;
  border-radius: 0px;
  font-family: Roboto,Arial, sans-serif;
  font-weight: 400;
  background-color: #ff8a00;
  margin: 8px 16px 30px 0;
  color: #FFFFFF;
  width: 100%;
  transition: background-color 0.5s ease;
}
.guide-price .btn:hover, .request-guide-price .btn:hover {
  background-color: #ff5d00;
}

.osv-login-button-wrapper .osv-login-button, .osv-login-button, .osv-login-form .btn-primary, .osv-register-form .btn-primary {
  background-color: #00625a;
  background-image: none;
  transition: background-color 0.5s ease;
  border: 1px solid #00625a;
}
.osv-login-button-wrapper .osv-login-button:hover, .osv-login-button:hover, .osv-login-form .btn-primary:hover, .osv-register-form .btn-primary:hover {
  background-color: #078f68;
}

.toolbar .osv-login-button, .toolbar .osv-login-button:visited {
  background-color: #f88a00;
  color: #fff;
  padding: 2px 10px;
  margin-top: 3px;
}

.toolbar .osv-login-button:hover {
  background-color: #ff6600;
}

.garage-guide-quote {
  background-color: #F6F5F5;
  color: #00625a;
  padding: 20px
}

.garage-guide-quote-top {
  margin: 0 0 15px 10px;
}

.garage-guide-quote .glyphicon-remove {
  margin-right: 15px;
}

#osv-garage {
  margin: 50px 0;
  min-height: 300px;
}

#osv-garage input, .request-guide-price input, .guide-price input, .osv-login-form input, .osv-register-form input, .osv-login-form .form-group {
  width: 100% !important;
}

.osv-login-button-wrapper {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: black;
}
.osv-logged-in-menu .item a, .osv-logged-in-menu-a{
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: black;
}
.osv-logged-in-menu .item a:hover, .osv-logged-in-menu-a:hover{
  color: black !important;
}
.osv-login-button-form {
  z-index: 10000000;
  background: #fff;
  padding: 40px 0;
  position: absolute;
  right: 0;
  box-shadow: -8px 10px 32px -16px rgba(0,0,0,0.78);
  min-width: 300px;
  color: #0f0f0f;
}
.osv-login-button-form .item {
  padding: 0 20px;
}
.osv-login-form {
  padding: 0 40px;
}

#osv-guide-quotes-admin .modal-content {
  overflow: scroll;
  max-height: 90vh;
}

form .red{
  color: red;
}

.osv-register-form {
  min-width: 500px;
  max-width: 100%;
  padding: 30px;
}

.osv-login-button-form .small-link {
  line-height: 12px;
  font-size: 12px;
  text-transform: none;
}

.request-guide-price-consent span {
  font-size: 11px;
}

.request-guide-price-consent label, .request-guide-price-consent input[type=checkbox], .osv-register-form input[type=checkbox] {
  display: inline-block;
  width: auto !important;
}
.request-guide-price-consent label {
  font-weight: normal;
}

.request-guide-price {
  margin-bottom: 30px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tab {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  display: inline-block;
  padding: 10px 25px;
  color: #bbb;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  margin-bottom: -1px;
}

.nav-tab:hover {
  background-color: #f1f9f2;
  text-decoration: none;
}

.nav-tab.active {
  background-color: #fff;
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #16b619;
  border-bottom: 1px solid #fff;
  cursor: default;
  text-decoration: none;
}